body {
    margin: 0 auto;
    max-width: 50em;
    padding: 12px;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
}

h1, h2 {
    color: #444;
}

p {
    color: #333;
}
img {
    width: 240px;
    margin: 12px;
}
.float-right {
    float:right;
}
.float-left {
    float:left;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}